@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( rgb(255, 255, 255), rgb(23, 78, 104) );
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
    color: black;
}

.container {
    background-color: #f8f5f5;
    box-shadow: 2px 5px 10px rgba(17, 17, 17, 0.5);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 35px;
}

.result-container {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-center;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
 
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    overflow-y: scroll;
    height: 100%;
    border-radius: 35px;
}

#result::-webkit-scrollbar {
    width: 1rem;
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 35px;
}

.btn {
    border: none;
    background-color: #0988ff;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: black;
}